.container {
    padding: 0 250px;
}

/* COMPUTER */
@media screen and (max-width:1200px) {
    
}

/* LAPTOP */
@media screen and (max-width:1024px) {
    .container {
        padding: 0 150px;
    }
}

/* TABLET */
@media screen and (max-width:768px) {
    .container {
        padding: 0 50px;
    }
}

/* MOBILE */
@media screen and (max-width:600px) {
    .container {
        padding: 0 10px;
    }
}