.home {
  display: flex;
  align-items: center;
  margin: 100px auto;
  justify-content: space-between;
  z-index: 10;
}
.content-text {
  flex-basis: 50%;
  color: white;
}
.content-text h1 {
  font-size: 2.2rem;
}
.content-text h1 span {
  color: #646cff;
  font-size: 3rem;
  text-transform: capitalize;
}
.content-text h1::first-letter {
  text-transform: uppercase;
}
.content-text p {
  font-size: 0.8rem;
}
.designed {
  position: relative;
  margin: 0 50px;
}
.designed::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 1px;
  left: -50px;
  top: 10px;
  background: white;
}
.illustration {
  width: 400px;
  height: 400px;
  background-size: cover;
  filter: drop-shadow(0 0 10rem #646cff);
  margin: auto;
}

/* LAPTOP */
@media screen and (max-width: 1024px) {
  .home {
    gap: 15px;
  }
  .content-text h1 {
    font-size: 1.5rem;
  }
  .content-text h1 span {
    font-size: 2.5rem;
  }
}

/* TABLET */
@media screen and (max-width: 768px) {
  .content-text h1 {
    font-size: 1.5rem;
  }
  .illustration {
    width: 350px;
    height: 350px;
  }
  .content-text h1 span {
    font-size: 2.4rem;
  }
}

/* MOBILE */
@media screen and (max-width: 600px) {
  .home {
    flex-direction: column-reverse;
    margin: auto;
    justify-content: center;
  }
  .content-text {
    text-align: center;
  }
  .designed::before {
    display: none;
  }
  .illustration {
    width: 350px;
    height: 350px;
  }
}

/* MOBILE */
@media screen and (max-width: 426px) {
  .designed::before {
    display: block;
    position: absolute;
    content: "";
    width: 45px;
    height: 1px;
    left: 35px;
    top: 10px;
    background: white;
  }
}
/* MOBILE */
@media screen and (max-width: 395px) {
  .designed::before {
    display: block;
    position: absolute;
    content: "";
    width: 45px;
    height: 1px;
    left: 20px;
    top: 10px;
    background: white;
  }
}
/* MOBILE */
@media screen and (max-width: 376px) {
  .designed::before {
    display: block;
    position: absolute;
    content: "";
    width: 45px;
    height: 1px;
    left: 15px;
    top: 10px;
    background: white;
  }
}
/* MOBILE */
@media screen and (max-width: 365px) {
  .designed::before {
    display: block;
    position: absolute;
    content: "";
    width: 45px;
    height: 1px;
    left: 5px;
    top: 10px;
    background: white;
  }
}

/* MOBILE */
@media screen and (max-width: 350px) {
  .designed::before {
    display: block;
    position: absolute;
    content: "";
    width: 45px;
    height: 1px;
    left: 0px;
    top: 10px;
    background: white;
  }
}
/* MOBILE */
@media screen and (max-width: 321px) {
  .content-text {
    width: 100%;
  }
  .content-text h1 {
    font-size: 1.5rem;
  }
  .illustration {
    width: 300px;
    height: 300px;
  }
  .content-text h1 span {
    font-size: 2rem;
  }
  .designed::before {
    display: block;
    position: absolute;
    content: "";
    width: 45px;
    height: 1px;
    left: -15px;
    top: 10px;
    background: white;
  }
}
