a {
    color: white;
}
.header {
    height: 62px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-weight: 600;
}
.links {
    display: flex;
    gap: 20px;
}
.link {
    font-size: 0.8rem;
}
.link-item {
    color: rgb(158, 158, 158);
    transition: color .5s;
    position: relative;
}
.link-item:hover {
    color: rgb(255, 255, 255);
}